@model Snapp.Core.ViewModels.ActiveViewModel

@{
    ViewData["Title"] = "Active";
    Layout = "~/Views/Shared/_accountLayout.cshtml";
}


@if (ViewBag.IsError == true)
{
	<script src="~/js/sweet.js"></script>
	<script>
		swal("خطا" , "کد وارد شده اشتباه میباشد", "warning",{
            button:"متوجه شدم",
        })
	</script>
}


<h3 class="text-center">فعالسازی حساب</h3>
<br />
<h5 class="text-center">کد فعالسازی برای شما پیامک شده است</h5>


<hr />

<form asp-action="Active">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Code" class="control-label"></label>
        <input asp-for="Code" class="form-control" placeholder="مثل 123456" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="فعال سازی حساب" class="btn btn-success btn-block" />
    </div>
</form>

