@model Snapp.Core.ViewModels.Admin.MonthTypeViewModel

@{
	ViewData["Title"] = "ثبت تعرفه های دمای هوا";
	Layout = "~/Views/Shared/_dashboardLayout.cshtml";
}

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="card">
			<div class="header">
				<h4 class="title pull-right">ثبت تعرفه دمای هوا</h4>
				<h4 class="title pull-left">
					@*<a href="/Car/Index" class="btn btn-danger">*@
					<a asp-controller="Temperature" asp-action="Index" class="btn btn-danger">
						بازگشت
					</a>
				</h4>
			</div>
			<div class="clearfix"></div>
			<div class="content">
				<form asp-action="Create">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>

					<div class="form-group">
						<label asp-for="Name" class=""></label>
						<input asp-for="Name" class="form-control" placeholder="نام تعرفه" />
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label asp-for="Start" class="control-label"></label>
						<input asp-for="Start" class="form-control" placeholder="از دمای ..."  value="0" />
						<span asp-validation-for="Start" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label asp-for="End" class="control-label"></label>
						<input asp-for="End" class="form-control" placeholder="تا دمای ..."  value="0" />
						<span asp-validation-for="End" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label asp-for="Percent" class="control-label"></label>
						<input asp-for="Percent" class="form-control" placeholder="درصد" min="0" value="0" />
						<span asp-validation-for="Percent" class="text-danger"></span>
					</div>

					<div class="form-group">
						<input type="submit" value="ثبت و بازگشت" class="btn btn-info btn-fill" />

					</div>
				</form>

			</div>
		</div>
	</div>
</div>


